<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="terra" class="com.mikailexample.Terra" scope="prototype">

</bean>

<bean id="love" class="com.mikailexample.Love" scope="singleton">
    <property name="love" value="100"></property>
</bean>

</beans>